<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <modules>
        <Dhl_ExpressRates>
            <version>1.0.0</version>
        </Dhl_ExpressRates>
    </modules>
    <global>
        <blocks>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Block</class>
            </dhl_expressrates>
        </blocks>
        <helpers>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Helper</class>
            </dhl_expressrates>
        </helpers>
        <models>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Model</class>
            </dhl_expressrates>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <register_autoload>
                        <class>dhl_expressrates/observer_autoload</class>
                        <method>registerAutoload</method>
                        <type>singleton</type>
                    </register_autoload>
                </observers>
            </controller_front_init_before>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <dhl_expressrates>
                    <file>dhl_expressrates.xml</file>
                </dhl_expressrates>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <dhl_expressrates>
            <dev>
                <autoload_enabled>1</autoload_enabled>
            </dev>
        </dhl_expressrates>

        <carriers>
            <dhl_expressrates>
                <active>1</active>
            </dhl_expressrates>
        </carriers>
    </default>
</config>
