<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <modules>
        <Dhl_ExpressRates>
            <version>1.0.0</version>
        </Dhl_ExpressRates>
    </modules>
    <global>
        <blocks>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Block</class>
            </dhl_expressrates>
        </blocks>
        <helpers>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Helper</class>
            </dhl_expressrates>
        </helpers>
        <models>
            <dhl_expressrates>
                <class>Dhl_ExpressRates_Model</class>
            </dhl_expressrates>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <dhl_expressrates_register_autoload>
                        <class>dhl_expressrates/observer_autoload</class>
                        <method>registerAutoload</method>
                        <type>singleton</type>
                    </dhl_expressrates_register_autoload>
                </observers>
            </controller_front_init_before>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <dhl_expressrates>
                    <file>dhl_expressrates.xml</file>
                </dhl_expressrates>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dhl_ExpressRates>
                    <files>
                        <default>Dhl_ExpressRates.csv</default>
                    </files>
                </Dhl_ExpressRates>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <dhl_expressrates>
            <dev>
                <autoload_enabled>1</autoload_enabled>
            </dev>
        </dhl_expressrates>

        <carriers>
            <dhlexpress>
                <active>0</active>
                <model>dhl_expressrates/carrier_express</model>
                <title>DHL Express</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
                <is_online>1</is_online>
                <showmethod>1</showmethod>
                <package_insurance_from_value>0</package_insurance_from_value>
                <packaging_weight>0.0</packaging_weight>
                <packaging_weight_unit>kgs</packaging_weight_unit>
                <allowedinternationalproducts>P;D;U</allowedinternationalproducts>
                <alloweddomesticproducts>N</alloweddomesticproducts>
                <cut_off_time>13,00,00</cut_off_time>
                <pickup_time>16,00,00</pickup_time>

                <logging>0</logging>
                <loglevel>3</loglevel>

                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </dhlexpress>
        </carriers>
    </default>

    <phpunit>
        <suite>
            <modules>
                <Dhl_ExpressRates/>
            </modules>
        </suite>
    </phpunit>
</config>
