<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config>
    <sections>
        <carriers>
            <groups>
                <dhlexpress translate="label" module="dhl_expressrates">
                    <label>DHL Express</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <header>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_custominformation</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header>

                        <!-- General settings -->
                        <header_general_settings>
                            <label>General Settings</label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header_general_settings>
                        <active translate="label" module="dhl_expressrates">
                            <label>Display DHL Express live rates at checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>51</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <logging translate="label">
                            <label>Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logging>
                        <loglevel translate="label comment">
                            <label>Logging Level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_loglevel</source_model>
                            <comment><![CDATA[The log level Debug should only be set while resolving problems. It may result in very large log files]]></comment>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <logging>1</logging>
                            </depends>
                        </loglevel>

                        <!-- Account Settings -->
                        <heading_fields_account translate="label comment">
                            <label>DHL Express Account</label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <comment><![CDATA[Your account information will allow you to access the necessary API. New to DHL? <a href="https://mydhl.express.dhl/index/en.html" target="_blank">Apply for a business account</a>]]></comment>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_fields_account>
                        <accountnumber translate="label">
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-length maximum-length-9 minimum-length-9 validate-digits</validate>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </accountnumber>
                        <username translate="label comment">
                            <label>API Credentials</label>
                            <frontend_type>text</frontend_type>
                            <comment>Please talk to your account representative to add API access to your business account</comment>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>

                        <!-- Shipping Preferences -->
                        <shipmentsettings_heading translate="label">
                            <label><![CDATA[Shipping Preferences]]></label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipmentsettings_heading>
                        <allowedinternationalproducts translate="label">
                            <label><![CDATA[Allowed International Products]]></label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_internationalproducts</source_model>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowedinternationalproducts>
                        <alloweddomesticproducts translate="label">
                            <label><![CDATA[Allowed Domestic Products]]></label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_domesticproducts</source_model>
                            <sort_order>320</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </alloweddomesticproducts>
                        <packaging_weight translate="label comment tooltip">
                            <label><![CDATA[Packaging Weight]]></label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The package weight specified here will be added to the weight of all items in the cart. This combined weight will be used to calculate shipping rates]]></comment>
                            <tooltip><![CDATA[Your weight unit can be configured under Stores>General>Locale Options>Weight Unit. You may enter a full number or a decimal value  (ex. 1.3)]]></tooltip>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>330</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </packaging_weight>
                        <cut_off_time translate="label comment tooltip">
                            <label><![CDATA[Order Cut-off Time]]></label>
                            <frontend_type>time</frontend_type>
                            <source_model>adminhtml/system_config_source_date_short</source_model>
                            <comment><![CDATA[Enter an order cut-off time that will allow for preparing the shipment before the DHL Express courier pick up time]]></comment>
                            <tooltip><![CDATA[Orders confirmed before the cut-off time are expected to ship the same day.  Orders confirmed after the cut-off time are expected to ship the following day. Holidays and weekends globally between the origin and destination are taken into account.]]></tooltip>
                            <sort_order>340</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cut_off_time>
                        <pickup_time translate="tooltip label comment">
                            <label><![CDATA[Pickup/Handover Time]]></label>
                            <frontend_type>time</frontend_type>
                            <source_model>adminhtml/system_config_source_date_short</source_model>
                            <comment><![CDATA[Enter the time when shipments will be handed over to DHL Express]]></comment>
                            <sort_order>350</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pickup_time>
                        <regular_pickup translate="label">
                            <label><![CDATA[Pickup Type]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_pickuptype</source_model>
                            <sort_order>360</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </regular_pickup>
                        <terms_of_trade translate="label comment">
                            <label><![CDATA[Duties & Taxes]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_termsoftrade</source_model>
                            <comment>In some cases, additional fees may apply. Consult your account representative for more details</comment>
                            <sort_order>370</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </terms_of_trade>
                        <package_insurance translate="label">
                            <label><![CDATA[Package Insurance]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>380</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </package_insurance>
                        <package_insurance_from_value translate="label comment">
                            <label><![CDATA[Minimum Cart Value]]></label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Shipping costs will include shipment protection costs for any cart value equal to or greater than this amount]]></comment>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>390</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <package_insurance>1</package_insurance>
                            </depends>
                        </package_insurance_from_value>

                        <!-- Checkout Presentation -->
                        <checkout_presentation_heading translate="label">
                            <label><![CDATA[Checkout Presentation]]></label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_presentation_heading>
                        <title translate="label">
                            <label><![CDATA[Display Title]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>410</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <sort_order translate="label tooltip">
                            <label><![CDATA[Sort Order]]></label>
                            <frontend_type>text</frontend_type>
                            <tooltip><![CDATA[This field determines where DHL Express will be displayed on the Checkout page. To display after Flat Rate or Free Shipping, enter a number just higher than the sort order value configured for those Shipping Methods.]]></tooltip>
                            <validate>validate-number</validate>
                            <sort_order>420</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <checkout_show_delivery_time translate="label comment">
                            <label><![CDATA[Shipping Options Display]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_shippingoptiondisplay</source_model>
                            <comment>Delivery date is based on your expected shipment date</comment>
                            <sort_order>430</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </checkout_show_delivery_time>
                        <show_method_if_not_applicable translate="label">
                            <label><![CDATA[If No DHL Shipping Option Available]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_showifnotapplicable</source_model>
                            <sort_order>440</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_method_if_not_applicable>
                        <specificerrmsg translate="label">
                            <label><![CDATA[Custom Message]]></label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>450</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <show_method_if_not_applicable>1</show_method_if_not_applicable>
                            </depends>
                        </specificerrmsg>
                        <!-- Round prices -->
                        <round_prices_format translate="label">
                            <label><![CDATA[Round Prices]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_roundedpricesformat</source_model>
                            <sort_order>460</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </round_prices_format>
                        <round_prices_mode translate="label">
                            <label><![CDATA[Rounding Direction]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_roundedpricesmode</source_model>
                            <sort_order>470</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <round_prices_format separator=",">
                                    <value>full_price,static_decimal</value>
                                </round_prices_format>
                            </depends>
                        </round_prices_mode>
                        <round_prices_static_decimal translate="label tooltip">
                            <label><![CDATA[Decimal Value]]></label>
                            <frontend_type>text</frontend_type>
                            <tooltip><![CDATA[Enter the value without the decimal separator (ex. 99 for the shipping charges to be rounded to 99 cents)]]></tooltip>
                            <validate>validate-length maximum-length-2 minimum-length-2 validate-digits</validate>
                            <sort_order>480</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <round_prices_format>static_decimal</round_prices_format>
                            </depends>
                        </round_prices_static_decimal>

                        <!-- Shipping Markup -->
                        <customize_rates_heading translate="label">
                            <label><![CDATA[Shipping Markup]]></label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customize_rates_heading>
                        <!-- International rates calculation config fields -->
                        <international_affect_rates translate="label">
                            <label><![CDATA[International Shipping]]></label>
                            <comment><![CDATA[Add markup to shipping price]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>510</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </international_affect_rates>
                        <international_handling_type translate="label">
                            <label><![CDATA[Calculate Markup]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>shipping/source_handlingType</source_model>
                            <sort_order>520</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <international_affect_rates>1</international_affect_rates>
                            </depends>
                        </international_handling_type>
                        <international_handling_fee_fixed translate="label comment">
                            <label><![CDATA[Fixed amount]]></label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter the markup amount in the currency of your store. Enter a negative to apply a discount]]></comment>
                            <sort_order>530</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                            <depends>
                                <international_affect_rates>1</international_affect_rates>
                                <international_handling_type>F</international_handling_type>
                            </depends>
                        </international_handling_fee_fixed>
                        <international_handling_fee_percentage translate="label comment">
                            <label><![CDATA[Percentage]]></label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[For example, enter 20 to apply a 20% markup in the currency of your store. Enter -20 to apply a 20% discount]]></comment>
                            <sort_order>540</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                            <depends>
                                <international_affect_rates>1</international_affect_rates>
                                <international_handling_type>P</international_handling_type>
                            </depends>
                        </international_handling_fee_percentage>
                        <!-- Domestic rates calculation config fields -->
                        <domestic_affect_rates translate="label comment">
                            <label><![CDATA[Domestic Shipping]]></label>
                            <comment><![CDATA[Add markup to shipping price]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>550</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </domestic_affect_rates>
                        <domestic_handling_type translate="label">
                            <label><![CDATA[Calculate Markup]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>shipping/source_handlingType</source_model>
                            <sort_order>560</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <domestic_affect_rates>1</domestic_affect_rates>
                            </depends>
                        </domestic_handling_type>
                        <domestic_handling_fee_fixed translate="label comment">
                            <label><![CDATA[Fixed amount]]></label>
                            <frontend_type>text</frontend_type>
                            <validata>validate-number</validata>
                            <comment><![CDATA[Enter the markup amount in the currency of your store. Enter a negative to apply a discount]]></comment>
                            <sort_order>570</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <domestic_affect_rates>1</domestic_affect_rates>
                                <domestic_handling_type>F</domestic_handling_type>
                            </depends>
                        </domestic_handling_fee_fixed>
                        <domestic_handling_fee_percentage translate="label comment">
                            <label><![CDATA[Percentage]]></label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <comment><![CDATA[For example, enter 20 to apply a 20% markup in the currency of your store. Enter -20 to apply a 20% discount]]></comment>
                            <sort_order>580</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <domestic_affect_rates>1</domestic_affect_rates>
                                <domestic_handling_type>P</domestic_handling_type>
                            </depends>
                        </domestic_handling_fee_percentage>

                        <!-- Free shipping calculation -->
                        <free_shipping_enable_heading translate="label">
                            <label><![CDATA[Free Shipping]]></label>
                            <frontend_model>dhl_expressrates/adminhtml_system_config_heading</frontend_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </free_shipping_enable_heading>
                        <free_shipping_virtual_products_enable translate="label comment">
                            <label><![CDATA[Free Shipping Calculation]]></label>
                            <comment>Include virtual products in totals</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>610</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping_virtual_products_enable>
                        <!-- International free shipping config fields -->
                        <international_free_shipping_enable translate="label comment">
                            <label><![CDATA[International Orders]]></label>
                            <comment>Configure free shipping for international orders</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>620</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </international_free_shipping_enable>
                        <international_free_shipping_products translate="label comment">
                            <label><![CDATA[Free Shipping Available For]]></label>
                            <comment><![CDATA[Choose allowed shipping products for Free Shipping]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_internationalproducts</source_model>
                            <sort_order>630</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <international_free_shipping_enable>1</international_free_shipping_enable>
                            </depends>
                        </international_free_shipping_products>
                        <international_free_shipping_subtotal translate="label">
                            <label><![CDATA[International Minimum Order Amount]]></label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>640</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <international_free_shipping_enable>1</international_free_shipping_enable>
                            </depends>
                        </international_free_shipping_subtotal>
                        <!-- Domestic free shipping config fields -->
                        <domestic_free_shipping_enable translate="label comment">
                            <label><![CDATA[Domestic Orders]]></label>
                            <comment>Configure free shipping for domestic orders</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>650</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </domestic_free_shipping_enable>
                        <domestic_free_shipping_products translate="label comment">
                            <label><![CDATA[Free Shipping Available For]]></label>
                            <comment><![CDATA[Choose allowed shipping products for Free Shipping]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>dhl_expressrates/adminhtml_system_config_source_domesticproducts</source_model>
                            <sort_order>660</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <domestic_free_shipping_enable>1</domestic_free_shipping_enable>
                            </depends>
                        </domestic_free_shipping_products>
                        <domestic_free_shipping_subtotal translate="label">
                            <label><![CDATA[Domestic Minimum Order Amount]]></label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>670</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <domestic_free_shipping_enable>1</domestic_free_shipping_enable>
                            </depends>
                        </domestic_free_shipping_subtotal>
                    </fields>
                </dhlexpress>
            </groups>
        </carriers>
    </sections>
</config>
